html{scroll-behavior:smooth}
body{
    margin:0;
    padding:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:#f8f8f8;
    color: black;
}
.logo{
    width: 90px;
}
img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media only screen and (min-width: 750px) {
    main{
        display: grid;
        grid-template-columns: 4fr 1.5fr;
        padding: 30px 10% 30px 10%;
        gap: 40px;
        background-color:#F8F8F8;
    }
    main article:first-child{
        background-color: white;
        border-radius: 10px;
        padding:40px;
    }
    header{
        padding: 30px 10% 30px 10%;
    }
}
@media only screen and (max-width: 750px) {
    main{
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px 5% 30px 5%;
        gap: 5px;
        background-color:#F8F8F8;
    }
    main article:first-child{
        background-color: white;
        border-radius: 10px;
        padding:5px;
    }
    main article:last-child{
        margin-top: 20px;
    }
    header{
        padding: 30px 5% 30px 5%;
    }
}
header{
    margin-top: 70px;
    background-image: url("../img/bg.png");
    background-size: cover;
    background-position: center;
    color: white;
}  
main article:first-child section{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid lightgray;
    border-width: 1px;
}

main article:first-child section h1{
    display: inline;
    background: linear-gradient(to bottom, rgb(227,244,251), rgb(175,221,243)) bottom repeat-x;
    background-size: 50%;
}
#table-index{
    background-color: #f2f2f2;
    padding:20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-bottom: 20px;
}
#table-index ol{
    color:#337def;
}
#table-index li{
    margin-bottom: 5px;
}
#table-index a{
    text-decoration: none;
    color:#337def;
}
.list-ul ul{
    list-style: none;
}
.list-ul ul li{
    margin-bottom: 5px;
}
.list-ul ul li::before{
    content: "\F151";
    font-family: bootstrap-icons;
    display: inline-block;
    margin-left: -2em; /* same as padding-left set on li */
    width: 2em; 
    color: #FF6341;
    vertical-align: middle;
}
.faq i{
    color:#FF6341;
}
.faq-page{
    margin-top: 10px;
}
.faq p{
    margin:0;
}
.faq-question{
    padding:5px;
    background-color: #F8F8F8;
}
.faq-question:hover{
    cursor: pointer;
    background-color:#222222;
    color: white;
}
.faq-body{
    border-top:#222222 solid;
    display:none;
    margin:0;
    padding:5px 5px 5px 20px;
    background-color: white;
}
.div-open{
    float: right;
    padding-right: 10px;
}
.operator-month{
    display: flex;
    flex-direction: column;
    gap:5px;
    color: black;
}
.operator-month a{
    text-decoration: none;
    color: white;
}
.operator-month span:first-child i{
    color:gold;
}
.operator-month span:nth-child(3){
    background-color:#FF6341;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    text-align: center;
}
.operator-rank-option{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.operator-rank-option section{
    padding:15px 10px 15px 10px;
    color: white;
    font-size:small;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
}
.operator-rank-option section:first-child{
    background-color:#337def;
}
.operator-rank-option section:nth-child(2){
    background-color: rgb(241, 241, 241);
    color:black;
}
.operator-rank-table{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.operator-rank-table section{
    padding:10px 15px 10px 15px;
}
.operator-rank-table section div{
    display: grid;
    grid-template-columns: 1.5fr 3fr 1fr;
    align-items: center;
    justify-content: center;
    font-size: small;
    border-bottom: solid lightgray;
    border-width: 1px;
}
.operator-rank-table section > div > span{
    padding:5px;
}
.operator-logo img{
    border-radius: 5px;
    width: 100%;
    height:55px;
}
.operator-heading{
    border-right: solid lightgray;
    border-width: 1px;
}
.operator-rating i{
    font-size: 6px;
    color:gold;
}
.operator-rating{
    margin-left:auto;
    text-align: center;
    font-size: x-small;
}
.operator-rating-value{
    font-size: medium;
    font-weight: bold;
}