body{
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo{
    width: 90px;
}
img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header{
    margin-top:70px;
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    background-image: url("../img/bg.png");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 30px 10% 30px 10%;
}

.info{
    padding:15px 15px 15px 0px;
}

.header-content{
    padding-bottom: 10px;
}

.bettingimage img{
    max-width: 90%;
}

.searchbar{
    display: flex;
    flex-direction: row;
    width:350px;
    height:30px;
}

.searchbar button{
    margin:0;
    padding:0;
    background-color: white;
    border: none;
    padding-right: 5px;
    border-radius: 0 5px 5px 0;

}

.searchbar input{
    margin:0;
    padding:0;
    width:100%;
    border:none;
    border-radius: 5px 0 0 5px;
}

.searchbar input::placeholder{
    padding-left: 5px;
}

.betting-option{
    display:flex;
    flex-direction: row;
    gap:20px;
    padding-top: 30px;
    flex-wrap: wrap;
}
.betting-option section{
    background-color: white;
    border-radius: 5px;
    flex-basis: 130px;
    padding:10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: transform .2s;
}
.betting-option section:hover{
    transform: scale(1.1);
}
.betting-option section a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
    color: black;
}

.betting-icon{
    width:50px;
}

.offer-home{
    padding: 30px 10% 30px 10%;
    background-color:#f8f8f8;

}
.offer-home div{
    display: flex;
    flex-direction: row;
    gap:20px;
    flex-wrap: wrap;
}
.offer-home div section{
    padding:10px;
    width:250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid lightgray;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.offer-logo img{
    border-radius:5px;
    height: 150px;
}
.offer-detail{
    text-align: center;
    padding:10px 0px 10px 0px;
}
.offer-rating{
    font-size: smaller;
}
.offer-rating i{
    color:gold;
    font-size: xx-small;
}
.offer-text{
    font-weight: bold;
}
.offer-amount{
    font-size: 45px;
    font-weight:bold;
}
.offer-site a{
    display: inline-block;
    text-decoration: none;
    width: 250px;
    background-color:#152039;
    color:white;
    font-weight: bold;
    border-radius: 5px;
    padding:5px 0px 5px 0px;
    text-align: center;
}
.bookmaker-rank{
    padding: 30px 10% 30px 10%;
    background-color: #F8F8F8;
}
.bookmaker-rank div:first-child{
    margin-bottom: 20px;
}
.option-rank{
    display: flex;
    flex-direction: row;
    gap:10px;
}
.option-rank span{
    background-color: white;
    color:black;
    padding:5px 15px 5px 15px;
    font-size: 20px;
    border-radius: 3px;
}
#click-span{
    background-color:#152039;
    color:white;
}
.rank-table{
    padding-top: 10px;
}
.rank-box{
    display: grid;
    grid-template-columns: 1.2fr 1fr 2.3fr 1fr 1fr 1.5fr;
    background-color: white;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    align-items: center;
}
.rank-box section{
    margin: 10px;
}
.bookmaker-logo img{
    border-radius: 5px;
    height: 100px;
    
}
.bookmaker-detail{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.bookmaker-rating{
    text-align: center;
}
.rating-value{
    font-size: 35px;
    font-weight: bold;
}
.bookmaker-rating i{
    margin-top: 3px;
    color:gold;
    font-size: 12px;
}
.bookmaker-payment{
    display:flex;
    flex-direction: column;
    gap:5px;
    justify-content: center;
    align-items: center;
}
.bookmaker-payment span{
    padding:3px 10px 3px 10px;
    border: solid;
    border-color: lightgray;
    border-width: 0.5px;
    border-radius: 3px;
    height: 35px;
}

.bookmaker-bonus{
    padding:10px 0px 10px 0px;
}

.bookmaker-bonus div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height:100%;
    border-radius: 5px;
}
.bonus-amount{
    font-size: 1.5em;
    font-weight:bold;
    border-bottom: solid;
    border-color: #337def;
    border-width: 5px;
}
.bookmaker-button{
    border-left: solid;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.bookmaker-button a{
    display: inline-block;
    text-decoration: none;
    padding:10px 0px 10px 0px;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    color: White;
    font-weight: bold;
}

.buttonsite{
    background-color:#337def;
}
.buttonreview{
    background-color:#FF6341;
}
.show-more{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.show-more span{
    background-color:#152039;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    font-size: 20px;
    color: white;
    align-self: center;
}
.app-bookmaker-rank{
    padding: 30px 10% 30px 10%;
    background-color: #F8F8F8;
}
.app-bookmaker-rank div:first-child{
    margin-bottom: 20px;
}
.explore{
    padding: 30px 10% 30px 10%;
    background-image: url("../img/bg1.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}
.explore div:first-child{
    padding-left: 10px;
}
.bookmaker-category{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.game-categories{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    margin:5% 0 5% 5%;
}
.game-categories div{
    background-color: white;
    flex-basis: 35%;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.19) 0px 10px 20px, rgba(255, 255, 255, 0.23) 0px 6px 6px;
    padding:10px;
    transition: transform .2s;
}
.game-categories div:hover{
    transform: scale(1.1);
}
.game-categories div a{
    text-decoration: none;
    color:black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}
.game-categories div a span:last-child{
    margin-left: auto;
}

.game-categories img{
    width: 45px;
}

.home-strategies{
    padding: 30px 10% 30px 10%;
    background-image: url("../img/bg.png");
    background-size: cover;
    background-position: center;
    color: white;
}
.home-strategy-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:5px;
}
.home-strategy-box section a{
    margin:5px;
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid lightgray;
    border-width: 2px;
    background-color: white;
    border-radius: 5px;
    color:black;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.home-strategy-box section span:first-child{
    padding:20px;
}
.home-strategy-box section:first-child span:nth-child(2){
    background-color:#6dd47e;
    color:white;
    padding:5px 10px 5px 10px;
    border-radius: 5px;
    font-size: small;
}
.home-strategy-box section:nth-child(2) span:nth-child(2){
    background-color:#6dd47e;
    color:white;
    padding:5px 10px 5px 10px;
    border-radius: 5px;
    font-size: small;
}
.home-strategy-box section:nth-child(3) span:nth-child(2){
    background-color:cornflowerblue;
    color:white;
    padding:5px 10px 5px 10px;
    border-radius: 5px;
    font-size: small;
}
.home-strategy-box section:nth-child(4) span:nth-child(2){
    background-color:black;
    color:white;
    padding:5px 10px 5px 10px;
    border-radius: 5px;
    font-size: small;
}
.home-guide{
    padding: 30px 10% 30px 10%;
    background-image: url("../img/bg1.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}
.home-guide-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:5px;
    color:black;
}
.home-guide-box section a{
    margin:5px;
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid lightgray;
    border-width: 2px;
    background-color: white;
    border-radius: 5px;
    color:black;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.home-guide-box section span:first-child{
    padding:20px;
}
.home-guide-box section:first-child span:nth-child(2){
    background-color:black;
    color:white;
    padding:5px 10px 5px 10px;
    border-radius: 5px;
    font-size: small;
}
.home-guide-box section:nth-child(2) span:nth-child(2){
    background-color:coral;
    color:white;
    padding:5px 10px 5px 10px;
    border-radius: 5px;
    font-size: small;
}
.home-guide-box section:nth-child(3) span:nth-child(2){
    background-color:#337def;
    color:white;
    padding:5px 10px 5px 10px;
    border-radius: 5px;
    font-size: small;
}
.home-guide-box section:nth-child(4) span:nth-child(2){
    background-color:lightslategrey;
    color:white;
    padding:5px 10px 5px 10px;
    border-radius: 5px;
    font-size: small;
}
main{
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    padding: 30px 10% 30px 10%;
    gap: 40px;
    background-color:#F8F8F8;
}

main article:first-child{
    background-color: white;
    border-radius: 10px;
    padding:40px;
}   
  
main article:first-child section{
    padding-bottom: 20px;
    border-bottom: solid lightgray;
    border-width: 1px;
}

main article:first-child section h1{
    display: inline;
    background: linear-gradient(to bottom, rgb(227,244,251), rgb(175,221,243)) bottom repeat-x;
    background-size: 50%;
}
.features{
    background-color: #222222;
    border-radius: 5px;
    color: white;
    padding:20px;
}
.features ul{
    list-style-type: none;
    margin-top: 10px;
    padding:0;
    font-size: small;
}
.features ul li{
    padding:5px;
}
.features i{
    color:#6dd47e;
    font-size: x-large;
}
.features ul i{
    font-size: small;
}

.payment-methods p i{
    color:#FF6341;
    font-weight: bold;
    font-size: 20px;
}
.payment-methods p span{
    font-weight: bold;
}
.how-rank p i{
    color:#337def;
    font-weight: bold;
    font-size: 20px;
}
.how-rank p span{
    font-weight:bold;
}
.top5-home{
    margin-bottom: 5px;
}
.top5-content{
    display: none;
}
.faq i{
    color:#FF6341;
}
.faq-page{
    margin-top: 10px;
}
.faq p{
    margin:0;
}
.faq-question{
    padding:5px;
    background-color: #F8F8F8;
}
.faq-question:hover{
    cursor: pointer;
    background-color:#222222;
    color: white;
}
.faq-body{
    border-top:#222222 solid;
    display:none;
    margin:0;
    padding:5px 5px 5px 20px;
    background-color: white;
}
.div-open{
    float: right;
    padding-right: 10px;
}
.operator-month{
    display: flex;
    flex-direction: column;
    gap:5px;
    color: black;
}
.operator-month a{
    text-decoration: none;
    color: white;
}
.operator-month span:first-child i{
    color:gold;
}
.operator-month span:nth-child(3){
    background-color:#FF6341;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    text-align: center;
}
.operator-rank-option{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.operator-rank-option section{
    padding:15px 10px 15px 10px;
    color: white;
    font-size:small;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
}
.operator-rank-option section:first-child{
    background-color:#337def;
}
.operator-rank-option section:nth-child(2){
    background-color: rgb(241, 241, 241);
    color:black;
}

.operator-rank-table{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.operator-rank-table section{
    padding:10px 15px 10px 15px;
}
.operator-rank-table section div{
    display: grid;
    grid-template-columns: 1.5fr 3fr 1fr;
    align-items: center;
    justify-content: center;
    font-size: small;
    border-bottom: solid lightgray;
    border-width: 1px;
}
.operator-rank-table section > div > span{
    padding:5px;
}
.operator-logo img{
    border-radius: 5px;
    width: 100%;
    height:45px;
}
.operator-heading{
    border-right: solid lightgray;
    border-width: 1px;
}
.operator-rating i{
    font-size: 6px;
    color:gold;
}
.operator-rating{
    margin-left:auto;
    text-align: center;
    font-size: x-small;
}
.operator-rating-value{
    font-size: medium;
    font-weight: bold;
}
footer{
    padding:30px 10% 30px 10%;
    background-color: #152039;
    color: white;
    display: flex;
    flex-direction: column;
    gap:20px;
}
footer div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer div:first-child img{
    width:150px;
}
footer i{
    font-size: larger;
    padding:5px;
}
footer section ul{
    list-style-type: none;
    padding:0;
    margin:0;
}
footer p{
    font-size: large;
    font-weight: bold;
}
footer a{
    color:gainsboro;
}
footer a:link{
    text-decoration: none;
    color: white;
}