body{
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#f8f8f8;
    color: black;
}
img{
    max-width: 100%;
    max-height: 100%;
}
header{
    margin-top: 70px;
    background-image: url("../img/bg.png");
    background-size: cover;
    background-position: center;
    color: white;
}
main div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:15px;
    background-color: white;
    padding:20px;
    margin:20px 0px 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
@media only screen and (min-width: 750px) {
    main div section{
        flex-basis:45%;
    }
    main{
        padding: 30px 10% 30px 10%;
    }
    header{
        padding: 30px 10% 30px 10%;
    }
    main div section:nth-child(2){
        padding: 20px;
    }
}
@media only screen and (max-width: 750px) {
    main{
        padding: 30px 5% 30px 5%;
    }
    header{
        padding: 30px 5% 30px 5%;
    }
    main div section:nth-child(2){
        padding: 5px;
    }
}
main img{
    border-radius: 5px;
}
main div section:nth-child(2){
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: flex-start;
}
.difficulty-level{
    background-color: black;
    color: white;
    padding: 2px 5px 2px 5px;
    border-radius: 3px;
}
.strategy-date{
    font-size: x-small;
    color: grey;
    margin: 0;
}